@import url('https://fonts.cdnfonts.com/css/latin-modern-sans');
@import url('header.css');
@font-face {
  font-family: HYWenHei;
  src: url(zhcn.ttf);
}

:root{
  interpolate-size: allow-keywords;

  --text-color:#000;
  --bg-color:#fff;
  --first-color:#69B7D9;
  --second-color:#FFC410;
  --third-color:#013880;

  --primary-color: #EFD30B;
  --secondary-color: #F9BE08;
  --tertiary-color: #DFDFD9;
  --primary-color-dark: #C07F00;
  --secondary-color-dark: #4C3D3D;

  --contoh-color: #2E1657;
}

.dark-mode{
  --text-color:#DBDBDB;
  --bg-color:#292929; /* #2D2D2D */
  --first-color:#013880;
  --second-color:#FFC410;
  --third-color:#69B7D9;

  --primary-color: #B1F0F7;
  --secondary-color: #1FB7FF;
  --tertiary-color: #F0E4DF;
  --primary-color-dark: #0631BC;
  --secondary-color-dark: #001A6E;

  --contoh-color: #6e50a1;
}

::-webkit-scrollbar{
  width: 0px;
}

::-webkit-scrollbar-track{
  background: var(--secondary-color);
}

*{
  margin: 0;
  padding: 0;
}

html{
  line-height: 1.5rem;
  text-align: justify;
  font-size: 16px;
}

body {
  font-family: 'LMSansDemiCond10', sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto 1fr;
}

#menu > li > ol > div > li::marker { 
  content: counters(list-item, '.') ' '; 
}
#menu > li > ol > div > li{
  margin-left: 25px;
}

#menu > li:nth-child(8) > ol > div > li::marker {
  content: 'A.'counter(list-item);
}

#menu > li:nth-child(9) > ol > div > li::marker {
  content: 'B.'counter(list-item);
}
 
main {
  padding: min(30px,7%);
}

main p{
  margin-top: 5px;
  margin-bottom: 15px;
}

.sidebar{
  color: #000;
  box-sizing: border-box;
  font-family: HYWenHei;
  height: 100vh;
  width: 250px;
  background-color: var(--primary-color);
  border-right: var(--text-color) 1px solid;
  position: sticky;
  top: 0;
  align-self: start;
  max-height: 100vh;
  overflow: hidden;
  text-wrap: nowrap;
  transition: 0.5s ease-in-out;
  overflow-y: auto; 
  z-index: 10;
}

.logo{
  padding: 1em;
  font-size: 1.2em;
}

#sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.sidebar.hidden {
  width: 0px;
  #toggle-btn svg{
    transform: rotate(180deg);
  }
  #toggle-btn{
    left: 0;
    border: solid 2px var(--text-color);
  }
}

.sidebar ol{
  list-style-type: none;
}

.sidebar a, .sidebar .dropdown-btn{
  padding: .3em;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.sidebar a span, .sidebar .dropdown-btn span{
  flex-grow: 1;
}

.sidebar .active>a:hover{
  .link-text{
    color: white;
  }
  background-color: var(--primary-color-dark);
}

.sidebar a:has(.dropdown-btn){
  background-color: var(--primary-color);
  border-radius: 0;
}

.sub-menu{
  font-size: 10px;
  background-color: var(--secondary-color);
}

.sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;

  > div{
    overflow: hidden;
  }
}

.sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}

#toggle-btn{
  position: fixed;
  left: 190px;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;
  svg{
    transition: rotate 0.5s ease;
  }
  transition: 0.5s ease-in-out;
  background-color: var(--primary-color);
}

#toggle-btn:hover{
  background-color: var(--primary-color);
}

#toggle-btn .hidden{
  border: 1px solid var(--text-color);
}

.dfn-box{
  margin-top: 1.75em;
  margin-bottom: 1em;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  padding: 10px; 
  border-radius: 10px; 
  color: var(--text-color); 
}

.dfn-header {
  background-color: var(--text-color);
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 4px 10px; 
  border: 2px solid var(--text-color); 
  border-radius: 5px; 
  margin-top: -1.75em;
  margin-left: -0.25em;
  margin-bottom: 0.25em;
  display: table;
  padding: 0.25em;
}

.dfn-content {
  font-size: 16px; 
  line-height: 1.6;  
  color: black;
}

.definisi{
  background-color: #cee9fd;
  border-color: #7c96aa;
  .dfn-header{
    background-color: #51abf0;
    border-color: #0630bc96;
  }
}

.teorema{
  background-color: #fddecb;
  border-color: #5f4c41;
  .dfn-header{
    background-color: #fa7d35;
    border-color: #C07F00;
  }
}

.contoh{
  border-radius: 0px;
  border-top: 0px;
  border-right: 0px;
  border-color: var(--contoh-color);
  .dfn-header{
    background-color: var(--contoh-color);
    border-color: var(--contoh-color);
    border-radius: 0px;
    margin-left: -0.65em;
  }
  .dfn-content{
    color: var(--text-color);
  }
}

details{
  max-height: fit-content;
  color: black;
  margin: -15px;
  padding: 15px;

  overflow: hidden;
}

details::details-content{
  block-size: 0;
  transition: 
    block-size 0.5s linear, 
    content-visiblity 0.5s ease-in-out;

  transition-behavior: allow-discrete;
}

details.solution::details-content{
  color: black;
  background-color: #ddd;
  border: none;
  padding: 1rem;
  padding-block: 0;
}

details[open]::details-content{
  block-size: auto;
}

.solution-step{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.proof{
  color: black;
}

.solution{
  summary {
    padding: 2px 6px;
    width: fit-content;
    background-color: #ddd;
    border: none;
    box-shadow: 3px 3px 4px var(--text-color);
    cursor: pointer;
    font-weight: bold;

    &:hover{
      background-color: #ccc;
    }
  }
}

.itemaze{
  padding-left: 21px;
}

.alpha{
  list-style-type: none;
  li:before{
    margin-left: -21px;
    content: "(" counter(list-item, lower-alpha) ') ';
  }
}

.roman{
  list-style-type: none;
  li:before{
    margin-left: -21px;
    content: "(" counter(list-item, lower-roman) ') ';
  }
}

main.content{
  z-index: 0;
  margin-top: 30px;
}

header{
  z-index: 1;
  padding: 10px 21px;
  justify-content: right;
}

@keyframes sweep{
  from{
    opacity: 0;
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 768px){
  header .fa-bars {
      font-size: larger;
      margin-left: 15px;
  }
} 
